<%= "Hey Admin!, manage the site please" if @user.admin? %>
<p>
  <strong>NAME:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>EMAIL:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>DOB:</strong>
  <%= @user.dob %>
</p>
<p>
  <strong>CONTACT:</strong>
  <%= @user.contact %>
</p>
<p>
  <strong>ADDRESS:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>COUNTRY:</strong>
  <%= @user.country %>
</p>
<p>
  <strong>STATE:</strong>
  <%= @user.state %>
</p>
<h2> Past Orders </h2>
<%= render @user.orders %>
<br>
<%= link_to 'Users List', users_path if @user.admin? %>
<%= link_to 'Settings', edit_user_path %>
<%= link_to 'Add Products', new_product_path if @user.admin? %>
<%= link_to 'Your Cart', current_user.cart %>
<%= link_to 'Manage Orders', orders_path if current_user.admin? %>
<%= link_to 'View all products', products_path if current_user == @user %>
<%= link_to 'Log out', logout_path, method: :delete if current_user == @user %>
<%= link_to 'Back to Admin Profile', current_user unless current_user == @user %>
