<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Status</th>
    <th>Transaction ID</th>
    <th>Total Amount</th>
    <th colspan="3"></th>
  </tr>
  <tr>
      <td><%= order.id %></td>
      <td><%= order.created_at.to_date %></td>
      <td><%= order.status %></td>
      <td><%= order.transaction_id %></td>
      <td><%= sprintf("%.2f", order.amount) %></td>
</table>
<%= link_to 'Order Details', order_path(order) %><br>
