<div class="wrapper">
  <marquee behavior="alternate"><span class="marquee">
    <h4>
      <% if current_user.cart.cart_items.blank? %>
        <%= "Cart is empty, please Add items to cart"  %>
      <% else %>
      <%= "Do not forget to press enter after updating quantity" %>
      <% end %>
    </h4></span>
  </marquee>
</div>
<% if current_user.cart.cart_items.present? %>
<h2>Your Cart </h2>
<table>
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Tax rate</th>
    <th>Amount</th>
    <th colspan="3"></th>
  </tr>
  <% current_user.cart.cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.product.name %></td>
      <td><%= cart_item.quantity %></td>
      <td><%= cart_item.product.price %></td>
      <td><%= cart_item.product.tax_rate %></td>
      <td><%= sprintf("%.2f", cart_item.total_price) %></td>
      <td><%= form_for cart_item, url: url_for(update_quantity_carts_path(item_id: cart_item.id)),
              remote: true do |f| %>
              <%= f.number_field :quantity %>
          <% end %><td>
      <td><%= button_to "Remove item", remove_item_carts_path(item_id: cart_item.id), method: :delete, 
              remote: true  %><td>
      <td colspan="5"></td>
  <% end %>
</table>
<br>
<%= "Total Cart Amount: #{sprintf("%.2f",current_user.cart.sub_total)}" %><br>
<%= "Total Cart Tax: #{sprintf("%.2f",current_user.cart.total_tax)}" %><br>
<br>
<%= link_to "Proceed to checkout", new_order_path %>
<% end %>
<%= link_to "Add items", products_path %>
<%= link_to "Back to your profile", profile_users_path %>
